<!DOCTYPE html>
<html>

{% include head.html %}

<body>

	{% include header.html %}

<!start>
<span style="display:block; height: 20px;"></span>
<div class="grid" id="searchBar">
<div id="search">
<form role="search" method="get" action="{{ site.baseurl }}//search/">
<span style="padding-right:280px;"></span>     
<input id="searchString" name="searchString"
placeholder="Search for an insight!" type="text">
<input id="searchButton" name="googleSearchName" type="submit" value="Search">
</form>
</div>
</div>
<!stop>

	<div class="page-content">
		<div class="wrapper">
			{{ content }}
		</div>
	</div>

	{% include footer.html %}

</body>

</html>
