---
layout: default
---

<header class="post-header">
	<div>
		<span>Posted on </span><span class="post-meta">{{ page.date | date: "%B %-d, %Y" }}</span>
	</div>

	<h1 class="post-title" itemprop="name headline">{{ page.title }}</h1>
</header>

<article class="post" itemscope itemtype="http://schema.org/BlogPosting">
	<div class="entry-content" itemprop="articleBody">
		{{ content }}
	</div>
</article>

<div id="post-nav">
	<div class="next">
		{% if page.next.url %}
		<a href="{{ site.baseurl }}{{ page.next.url }}">
			<span>Next entry</span>
			{{ page.next.title }}
		</a>
		{% endif %}
	</div>

	<div class="previous">
		{% if page.previous.url %}
		<a href="{{ site.baseurl }}{{ page.previous.url }}">
			<span>Previous entry</span>
			{{ page.previous.title }}
		</a>
		{% endif %}
	</div>
</div>

<div class="custom-social-buttons">		
	<div class="share-buttons-label">
		<span>Tell your friends</span>
	</div>
	<div class="custom-social-button twitter">
		<a id="twitter-link" href="#"><i class="socicon-twitter-bird"></i></a>
	</div>
	<div class="custom-social-button linkedin">
		<a id="linkedin-link" href="#"><i class="socicon-linkedin"></i></a>
	</div>
	<div class="custom-social-button googleplus">
		<a id="googleplus-link" href="#"><i class="socicon-gplus"></i></a>
	</div>
</div>